psutil==5.9.8
numpy==1.26.4
torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2
https://github.com/Dao-AILab/flash-attention/releases/download/v2.5.5/flash_attn-2.5.5+cu122torch2.1cxx11abiFALSE-cp310-cp310-linux_x86_64.whl
deepspeed==0.14.1
triton==2.1.0
xformers==0.0.23.post1
https://github.com/McGill-NLP/VinePPO/releases/download/v0.1/vllm-0.4.0.post1-cp310-cp310-linux_x86_64.whl
accelerate==0.27.2
transformers==4.38.1
tokenizers==0.15.2
datasets==2.17.1
peft==0.8.2
platformdirs==4.2.0
gptcache==0.1.43
diskcache==5.6.3
openai==0.28.0
requests==2.31.0
aiohttp==3.9.3
regex==2023.12.25
pyparsing==3.1.1
pygtrie==2.5.0
overrides==7.7.0
base58==2.1.1
dill==0.3.8
fire==0.5.0
wandb==0.16.3
tqdm==4.66.2
chardet==5.2.0
cchardet==2.1.7
graphviz==0.20.1
matplotlib==3.8.3
plotnine==0.13.0
nest_asyncio==1.6.0
jsonnet==0.20.0
redis==4.6.0
redis_om==0.2.1
evaluate==0.4.1
py-cpuinfo==9.0.0
sentencepiece==0.2.0
jsonlines==4.0.0
pylatexenc==2.10
